@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background: url('https://media.giphy.com/media/X9QEx7PMwNELs7l4p0/giphy.gif') no-repeat center center fixed; /* Direct URL to the GIF */
  background-size: cover; /* Ensure the GIF covers the entire background */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
  overflow: hidden; /* Hide scrollbars if necessary */
}



